@import "tailwindcss";
@plugin "daisyui";

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

@keyframes spin3D {
  from {
    transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
  }
}
.carousel-spin3D {
  animation: spin3D 20s linear infinite;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes slideUp {
  0% {
    transform: translateY(0px);
    z-index: 300;
  }
  50% {
    transform: translateY(-340px);
    z-index: 300;
  }
  51% {
    transform: translateY(-340px);
    z-index: 350;
  }
  100% {
    transform: translateY(0px);
    z-index: 350;
  }
}

.animate-slideUp {
  animation: slideUp 2s ease-in-out;
}

.font-ubuntu {
  font-family: "Ubuntu", sans-serif;
}

.project-card {
  position: relative;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(13, 36, 63, 0.3),
    rgba(13, 36, 63, 1)
  );
  z-index: 2;
  opacity: 0;
  transition: 0.5s ease;
}

.project-card:hover::before {
  opacity: 1;
}

.card-info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s ease;
}

.project-card:hover .card-info {
  opacity: 1;
  transform: translateY(0);
}
